.routinesList {
  width: 100%;
}

.searchField {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  & > input {
    height: 2rem;
    width: 16rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 0.5rem;
    line-height: 1.5rem;
  }
}