@import "../styles/base/settings";

.exerciseList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80rem;
  padding-inline-start: 0;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.textInput {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;

  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.3s ease-in;

  &.smallInput {
    width: 100px;
  }

  &.hidden {
    visibility: hidden;
    padding: 0px;
    opacity: 0;
    width: 0px;
  }
}

.select-input {
  @extend .textInput;
}

.textarea-input {
  @extend .textInput;
  height: 10rem;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 1.6rem;

  .buttonGroup {
    margin-left: $s-size;
    display: flex;
    gap: $s-size;
    height: 50px;

    font-size: 12px;
  }

  .helper {
    align-items: center;
    color: $black;
    display: flex;
    opacity: 0.5;
    white-space: nowrap;

    transition: opacity 0.5s linear;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
