@import '../styles/base/settings';

.exercise-list {
  .header {
    color: red;

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
  }

  width: 100%;
}

.exercise {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    padding: 0px 10px 10px 10px;
  }

  .details {
    display: flex;
    justify-content: flex-start;

    div {
      margin-right: 10px;
    }
  }

  .name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
}

.workout {
  .workout-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
}

.workoutCheckbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}
