@import '../styles/base/settings';

.workout {
  border: 1px solid darken($off-white, 7%);
  border-top: none;

  .header {
    display: flex;
    justify-content: space-between;
    padding: $s-size;

    @media (min-width: $desktop-breakpoint) {
      align-items: center;
      flex-direction: row;
    }

    .date {
      color: $grey;
      font-size: $font-size-small;
    }
  }
}
